#text-1 {
    text-align: center;
}
p {
    margin-top: 0px;
    margin-bottom: 0px;
}

li {
    margin-right: 3em;
}

div.textbody {
    margin-left: 10em;
    margin-right: 10em;
    padding-top: 1em;
}

body {
    background-image: url("../styles/heavy_texture_background.png");
    background-repeat: repeat;
    font-family: book antiqua, constantia, times new roman, serif;
}