body {
    background-image: url("warm_heavy_texture_background.png");
    background-repeat: repeat;
    font-family: book antiqua, constantia, times new roman, serif;
}

#container {
    position: absolute;
    width: 80%;
    margin: 10px auto 0 0;
    top: 0;
    right: 20px;
}


#nav-container {
    background-color: transparent;
    position: absolute;
    /* left: 0px; */
    width: 200px;
    margin: 0 auto;
}

#front {
    position: absolute;
    right: 0;
    top: 0px;
    padding: 10px 10px;
    margin: 0 0 0 0;
    width: 80%%;
    /*background-color: #cbf5ff;*/
    background-image: url("heavy_texture_background.png");
    background-repeat: repeat;
    border: thin inset #9a9a9a;
    border-right-style: outset;
    border-radius: 10px 10px 10px 10px;
    display: block;
}

#front aside {
    width: 100%;
    margin: 0 auto;
}

/* center all images. */
#front img {
    margin: 0 auto;
    display: block;
}

aside#quick_links {
    background-image: url("dark_heavy_texture_background.png");
    border-radius: 8px 8px 8px 8px;
    padding: 0px 4px 0px 4px;
    position: absolute;
    top: 25px;
    position: absolute;
    left: 2%;
    padding: 2px 0 0 5px;
    font-family: book antiqua, constantia, times new roman, serif;
}

#quick_links ul {
    position: relative;
    top: 0;
    left: 0;
    padding: 15px;
    list-style-type: none;
}

#quick_links ul li {
    padding: 5px 2px 5px 2px;
}

#quick_links ul li a {
    font-size: 15px;
    text-align: center;
    text-color: black;
    text-shadow: 2px 1px 1px #eaeaea; 
}