body {
    background: #04ba56 url("dark_cool_text_background.png");
    font-family: book antiqua, constantia, times new roman, serif;
}

#container {
    position: relative;
}


#nav-container {
    background-color: transparent;
    position: absolute;
    /* left: 0px; */
    width: 200px;
    margin: 0 auto;
    border: 
}

#front {
    position: absolute;
    float: right;
    right: 0px;
    top: 0px;
    padding: 10px 10px;
    width: 750px;
    background-color: #cbf5ff;
    background-image: url("cool_text_background.png");
    border: thin inset #9a9a9a;
    border-right-style: outset;
    border-radius: 10px 10px 10px 10px;
}

#front aside {
    width: 700px;
    margin: 0 auto;
}