#main-nav .nav-links {
    width: 100%;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0 0 0 5;
}

#main-nav .nav-links li {
    list-style: none;
    float: left;
}
/*
#main-nav:after {
    content: '';
    display: inline-block;
    width: 100%;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    min-width: 200px;
    background-color: transparent;
}
ul.nav-links {
    float: left;
    background-color: transparent;
}
ul.nav-links li {
    float: left;
    border: 1px groove #9a9a9a;
    border-radius: 15px;
    min-width: 200px;
    background-image: url("cool_text_background.png");
}
ul.nested-nav {
    position: absolute;
    display: none;
    background-color: transparent; /*#89b098;
}

ul.nested-nav li {
    clear: both;
    background-image: url("warm_text_background.png");
}*/

#main-nav {
    width: 100%;
    height: 35px;
    font-size: 16px;
    font-family: book antiqua, constantia, times new roman, serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px #999999;
    background-image: url("dark_cool_text_background.png");
    border-radius: 8px;
}

#main-nav ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

#main-nav .nav-links > li {
    display: inline;
    padding: 2px;
}
    
#main-nav a, #main-nav a:active, #main-nav a:visited {
    padding: 8px 8px 8px 8px;
    color: black; /*#cbf5ff; */
    display: block;
}

#main-nav li ul {
    display: none;
}

/* Controls all styling on dropdown menu cells. */
#main-nav li ul li {
    background-image: url("dark_cool_text_background.png");
    border-radius: 8px 8px 8px 8px;
    text-align: center;
    /* Very important! Make them fill the container. */
    width: 100%;
    border: 1px solid black;
}

#main-nav li:hover ul, #main-nav li.hover ul {
    position: absolute;
    display: block;
    width: 150px;  /* Width of dropdown menu cell. */
    margin: 0;
    padding: 0;
}

#main-nav li:hover {
    background-image: url("warm_text_background.png");
}