#main {
    position: absolute;
    float: right;
    /*top: 0px;
    right: 0px;*/
}

#main h1, #main h2 {
    text-align: center;
}

section {
    margin-left: 10em;
    margin-right: 10em;
    padding: 10px;
    position: absolute;
    border: thin ridge black;
    background-color: white;
}

span.it {
    font-style: italic;
}

span.bold {
    font-weight: bold;
}